<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="username" (ionInput)="validarCampos()" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" (ionInput)="validarCampos()" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="mostrarModal()" [disabled]="!isValid">
    Mostrar Información
  </ion-button>

  <!-- Nuevo botón para iniciar sesión -->
<!--Author: LAURA GABRIELA ANGUIANO PINEDA-->
  <ion-button expand="full" (click)="acceder()" [disabled]="!isValid">
    Inicio sesión
  </ion-button>
</ion-content>